.github-data-wrapper {
  color: var(--default-text-color) !important;
  font-family: var(--default-font-family) !important;
}

/* Custom Calander Styles*/

.width-full {
  display: flex;
  padding: 4px;
  margin-bottom: 4px;
  align-items: center;
}

.float-left {
  flex: 1;
}

.Link--muted {
  color: var(--muted-link-color);
  text-decoration: underline dotted;
}

.contrib-number {
  color: inherit;
}

text.ContributionCalendar-label {
  font-size: 14px;
}

.contrib-column {
  border-left: 1px solid #555;
  border-top: 1px solid #555;
  vertical-align: middle;
}

.contrib-column-first {
  border-left: 0;
}

.contrib-number {
  font-size: 1rem;
}

.Link--muted {
  font-size: 0.9rem;
}

.float-right {
  font-size: 0.9rem;
}

.js-calendar-graph-svg > g:nth-child(1) > g:nth-child(1) {
  display: none;
}

text.ContributionCalendar-label:nth-child(54) {
  display: none;
}

:root {
  --color-calendar-graph-day-bg: var(--container-background);
}

div.contrib-column:nth-child(3) > span:nth-child(3) {
  display: none;
}

div.contrib-column:nth-child(4) > span:nth-child(3) {
  display: none;
}

div.contrib-column:nth-child(5) > span:nth-child(3) {
  display: none;
}

/* We're celebrating 100 million developers!  */

div.width-full:nth-child(1) {
  display: none;
}

.js-calendar-graph {
  padding-top: 8px;
}
