@media (max-width: 960px) {
  body {
    overflow-y: scroll;
  }

  .root {
    flex-direction: column;
    height: auto;
    padding: 8px;
  }

  #background-image-blurred {
    filter: brightness(40%) blur(2px);
    -webkit-filter: brightness(40%) blur(2px);
  }
}
