:root {
  --container-background: #2f3136;
  --container-subdiv-background: #292b2f;

  --default-text-color: whitesmoke;
  --default-text-color-paragraph: aliceblue;

  --default-font-family: Verdana;
  --font-family-alt: Tahoma;

  --muted-link-color: #989a9d;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: 0;
  overflow: hidden;
}

.background-wrapper {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: absolute;
}

#background-image-blurred {
  height: 100vh;
  width: 100vw;
  filter: brightness(60%) blur(2px);
  -webkit-filter: brightness(60%) blur(2px);
  object-fit: cover;
  transform: scale(1.01);
}

.root {
  display: flex;
  gap: 16px;
  padding: 16px;
  height: 100vh;
  overflow: hidden;
}

/*Custom Scrollbar*/
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/*Firefox*/
:root {
  scrollbar-color: rgb(210, 210, 210) rgba(46, 54, 69, 0) !important;
  scrollbar-width: thin !important;
}

/* Firefox image alt visibility fix (Why Mozilla Why) */
img:-moz-loading {
  visibility: hidden;
}
